$flex-item: 100;

@for $i from 1 through $flex-item {
  .flex-item-#{$i} {
    flex: 1 1 100% / $flex-item * $i;
    max-width: 100% / $flex-item * $i;
  }
}

[class^='flex-item-'] {
  padding-top: $spacer-5;
  padding-bottom: $spacer-5;
}

.d-flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.d-flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.flex-item {
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.flex-item-none {
  flex: 0 0 auto;
  box-sizing: border-box;
  max-width: none;
}

.flex-item-nogrow {
  flex: 0 1 auto;
  box-sizing: border-box;
}

.flex-item-noshrink {
  flex: 1 0 auto;
  box-sizing: border-box;
}

.flex-item-auto {
  flex: 1 1 auto;
  box-sizing: border-box;
  min-width: auto;
}

.flex-initial {
  flex: 0 1 auto;
  box-sizing: border-box;
  max-width: initial;
}

.flex-none {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 0;
  min-width: 0;
}

//Align Self
.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-stretch {
  align-self: stretch;
}

//Justify Content

.f-justify-content-start {
  justify-content: start;
}

.f-justify-content-end {
  justify-content: flex-end;
}

.f-justify-content-center {
  justify-content: center;
}

.f-justify-content-between {
  justify-content: space-between;
}

.f-justify-content-around {
  justify-content: space-around;
}

.f-align-items-center {
  align-items: center;
}
